/*----------------------------------*/
/* BASIC SETUP */
/*----------------------------------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.clearfix,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

html {
  background-color: rgb(187, 187, 187);
  color: rgb(136, 136, 136);
  font-size: 20px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeLegibility;
}

/*----------------------------------*/
/* RESUABLE COMPONENTS */
/*----------------------------------*/
/*---LAYOUT---*/
.row {
  max-width: 900px;
  margin: 80px auto;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.col {
  float: left;
}

.span-3-of-5 {
  width: 60%;
}

.span-2-of-5 {
  width: 40%;
}

/*----------------------------------*/
/* CONTACT-FORM */
/*----------------------------------*/
.wrapper {
  background-color: #fff;
}

.box:first-child {
  padding: 60px 40px;
  text-align: center;
}

.box:last-child {
  padding: 60px 40px 15px 0;
}

p {
  font-size: 0.8rem;
  line-height: 145%;
  margin-bottom: 30px;
  text-align: left;
}

p a {
  text-decoration: none;
}

img {
  width: 60%;
  height: auto;
  margin-bottom: 50px;
}

input[type="email"],
select,
textarea,
input[type="submit"] {
  width: 100%;
  padding: 15px;
  font-size: 0.7rem;
  font-weight: 100;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  margin-bottom: 20px;
}

select {
  display: block;
  padding: 15px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 50px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

textarea {
  height: 200px;
}

button,
input[type="submit"] {
  background-color: rgb(245, 245, 245);
  border: 1px solid transparent;
}

button {
  display: inline-block;
  color: #6464ff;
  border-radius: 30px;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.small-icon {
  font-size: 1rem;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 2px;
}

input[type="submit"] {
  color: rgb(202, 202, 202);
}
